nav a{
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: black;
 
}

nav a:hover{
    color: black;
}

nav a.nav-link.brand{
    font-weight: bold;
    margin-left: 1.8rem;
    margin-top: 2rem;
}

nav a.nav-link{
    margin-top: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

nav ul.social{
    margin-left: 2rem;
    margin-right: 2rem;
}

nav li.nav-item.social-item a.nav-link{
    margin-left: 0rem!important;
    margin-right: 0rem!important;
}

nav .brand{
    font-size: 3.2rem;
}

nav .brand-detail{
    font-size: 1rem;
    font-family: "Century Gothic";
}

nav .social:hover > .social-item{
    opacity: 0.3;
}

nav .social:hover > .social-item:hover{
    opacity: 1;
}

nav .navbar-toggler{
    background-color: white;
}

footer{
    background-color: whitesmoke;
    margin-top: 12rem;
}

footer > nav > a{
    font-size: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

footer > nav > a:hover{
    color: #aaa;
    text-decoration: none;
}

footer > div.social{
    display: flex;
    flex-direction: row;
}

div.footer-copyright{
    background-color: #222;
    color: whitesmoke;
}

div .row:first-of-type{
    margin-top: 11rem;
}

div .col-md-4{
    margin-left: -4rem;
    position: relative;
    left: 9rem;
}

div .col-md-6.h1{
    font-size: 7rem;
}

div .col-md-6.h1{
    font-size: 5rem;
}

div .contact-intro{
    margin-top: 12rem;
    margin-bottom: 3rem;
}

div.form-inline > label{
    justify-content: left;
}

div.form-inline > label.w-50{
    font-size: 0.75rem;
}

div.form-inline > input.w-50:first-of-type{
    width: 48%!important;
}

.btn-outline-dark{
    border-width: 2px;
    border-radius: 0%;
    border-color: #222;
    color: #222;
    text-transform: uppercase;
    padding: 14px 35px;
    /* font-family: sofia-pro; */
    font-weight: 600;
    font-style: normal;
    font-size: 0.9rem;
    letter-spacing: .1em;
}

.btn-outline-dark:hover{
    background-color: #222;
    border-color: #222;
}

#fancy-hr{
    border: 4px solid #222;
    border-radius: 20%;
    margin-left: 25rem;
    margin-right: 25rem;
}



@media only screen and (max-width: 600px) {
    div .col-md-4{
        margin-left: 0rem;
        left: 0rem;
    }

    div .contact-intro{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    div .list-group-item img{
        width: 45px;
    }

    a.list-group-item.list-group-item-action.border-0{
        padding: 0.8rem;
    }

    div.form-inline > input.w-50:first-of-type{
        margin-right: 1rem;
        width: 45%!important;
    }

    div.contact-social{
        width: 100%!important;
    }

    footer > nav > a{
        display: block;
        text-align: center;
        padding: 0.6rem;    
    }

    #fancy-hr{
        border: 4px solid #222;
        border-radius: 30%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 767px){
    nav .navbar-collapse {
        position: fixed;
        top: 7rem;
        background-color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        width: 50%;
        height: 100%;
    }

    nav .navbar-collapse.collapsing {
        left: -50%;
        transition: height 0s ease;
    }

    nav .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    nav .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}

@media only screen and (max-width: 1200px) {
    nav a{
        font-size: 1.25rem;
    }
    
    nav a.nav-link.brand{
        font-weight: bold;
        margin-left: 0.9rem;
        margin-top: 1rem;
    }
    
    nav a.nav-link{
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        /* float: right; */
    }
    
    nav ul.social{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    nav li.nav-item.social-item a.nav-link{
        margin-left: 0rem!important;
        margin-right: 0rem!important;
    }
    
    nav .brand{
        font-size: 1.6rem;
    }
    
    nav .brand-detail{
        font-size: 0.5rem;
    }

    div.form-inline > input.w-50:first-of-type{
        margin-right: 1rem;
        width: 45%!important;
    }

    div.contact-social{
        width: 100%!important;
    }

    #fancy-hr{
        border: 4px solid #222;
        border-radius: 20%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}