nav a{
    font: 1.4rem "Bahnschrift Condensed";
    text-transform: uppercase;
    color: black;
 
}

nav a:hover{
    color: black;
}

nav a.nav-link.brand{
    font-weight: bold;
    margin-left: 1.8rem;
    margin-top: 2rem;
}

nav a.nav-link{
    margin-top: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

nav ul.social{
    margin-left: 2rem;
    margin-right: 2rem;
}

nav li.nav-item.social-item{
    margin-left: -1.7rem;
    margin-right: -1.7rem;
}

nav .brand{
    font-size: 2.9rem;
}

nav .brand-detail{
    font-size: 1rem;
    font-family: "Century Gothic";
}

nav .social:hover{
    opacity: 0.3;
}

nav .social-item:hover{
    opacity: 1;
}

div .row:first-of-type{
    margin-top: 11rem;
}

div .col-md-4{
    margin-left: -4rem;
    position: relative;
    left: 9rem;
}

div .col-md-6.h1{
    font-size: 7rem;
}

div .col-md-6.h1{
    font-size: 5rem;
}

div .contact-intro{
    margin-top: 12rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
    div .col-md-4{
        margin-left: 0rem;
        left: 0rem;
    }

    div .contact-intro{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    div .list-group-item img{
        width: 45px;
    }

    a.list-group-item.list-group-item-action.border-0{
        padding: 0.8rem;
    }
}